body {
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  height: 100%;
}

.container {
	margin : 0;
	margin-top: 50px;
	height: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.top-navigation nav li a {
	text-decoration: none;
}

.top-navigation nav li a:hover {
	background-color: #2b2b2b;
}

.admin-left-nav {
	float:left;
	background-color:#fff;
}

.admin-right-content{
	float:right;
}

.admin-left-nav .list-group {
	border: none;
}

.admin-left-nav .list-group a {
	border: none;
	border-bottom: 1px solid rgb(221, 221, 221);
	text-decoration: none;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}

li {
  display: inline;
}
