body {
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  height: 100%;
}

.container {
	margin : 0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}

li {
  display: inline;
}