{% set left_navigation = [{ 'href' : '/admin_panel/advertise', 'title' : 'Advertise' },
							{ 'href' : '/admin_panel/channel', 'title' : 'Channel' },
							{ 'href' : '/admin_panel/comment', 'title' : 'Comment' },
                            { 'href' : '/admin_panel/match', 'title' : 'Match' },
							{ 'href' : '/admin_panel/news', 'title' : 'News' },
                            { 'href' : '/admin_panel/record', 'title' : 'Record' },
                            { 'href' : '/admin_panel/sponsor', 'title' : 'Sponsor' },
                            { 'href' : '/admin_panel/ticket', 'title' : 'Ticket' },
                            { 'href' : '/admin_panel/tournament', 'title' : 'Tournament' },
                            { 'href' : '/admin_panel/user', 'title' : 'User' },
                            { 'href' : '/admin_panel/venue', 'title' : 'Venue' },
							{ 'href' : '/admin_panel/player', 'title' : 'Player' },
							{ 'href' : '/admin_panel/video', 'title' : 'Video' },
							{ 'href' : '/admin_panel/award', 'title' : 'Award' },
                            { 'href' : '/admin_panel/social_accounts', 'title' : 'Social_accounts' }] %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<title>Home</title>
<link rel="stylesheet"
	href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
<link rel="stylesheet"
	href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<div class="top-navigation">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/loginOut">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="container col-md-12">

		<div class="col-md-3 admin-left-nav">
			<ul class="list-group">
                {% for item in left_navigation: %}
                	<li><a href="{{ item["href"] }}" class="list-group-item">{{ item["title"] }}</a></li>
				{% endfor %}
            </ul>
		</div>

		<div class="col-md-9 admin-right-content">

		    {% block body %}{% endblock %}
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
