{% extends "admin_layout.html" %} {% block body %}


		    <div class="form-area col-md-8 col-centered">
		        <form role="form">
		        <br style="clear:both">
	                   <h3 style="margin-bottom: 25px; text-align: center;">Advertise</h3>
					<div class="form-group">
						<input type="text" class="form-control" id="advertise_imageurl" placeholder="Image URL" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="advertise_exturl" placeholder="Ext URL" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="advertise_id" placeholder="ID" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="advertise_size" placeholder="Size" required>
					</div>

		        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
		        </form>
		    </div>


{% endblock %}
