{% extends "admin_layout.html" %}
{% block body %}


	<div class="form-area col-md-8 col-centered">

			<table class="table table-striped table-hover">
				<thead>
				<tr>
					<th>*</th>
					<th>Tournament</th>
					<th>Venue</th>
					<th>Player 1</th>
					<th>Player 2</th>
					<th>Is Live</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				{% for match in matchList: %}
					<form action="{{ url_for('addMatch') }}" method="post">
						<tr>
							<td><input type="text" value="{{match.getID()}}" name="id" style="display:none"/></td>
							<td>{{match.getTournamentName()}}</td>
							<td>{{match.getVenueName()}}</td>
							<td>{{match.getPlayer1Name()}}</td>
							<td>{{match.getPlayer2Name()}}</td>
							<td>{{match.isLive()}}</td>
							<td>{{match.getScore()}}</td>
							<td><input type='submit' name="action" value="delete_match_action"></td>
						</tr>
					</form>
				{% endfor %}
			</tbody>
		</table>

	</div>

	<div class="form-area col-md-8 col-centered">
        <form action="{{ url_for('addMatch') }}" method="post">
        <br style="clear:both">
              <h3 style="margin-bottom: 25px; text-align: center;">Match</h3>
					<div class="form-group">
						<input type="text" class="form-control" id="add_tournamentName"
							placeholder="Tournament ID" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" type="textarea" id="add_venueName"
							placeholder="Venue ID" rows="7"></textarea>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="add_player1"
							placeholder="Player 1" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="add_player2"
							placeholder="Player 2" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="add_isLive"
							placeholder="Is Live" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="add_score"
							placeholder="Score" required>
					</div>

        <input type="submit" name="action" value="add_match_action"
		class="btn btn-primary pull-right" />
        </form>
    </div>
{% endblock %}
