<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<title>Home</title>
<link rel="stylesheet"
	href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
<link rel="stylesheet"
	href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<div class="top-navigation">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li><a href="#">Home</a></li>
						<li><a href="/players">Players</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/admin_panel">Admin Panel</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="container col-md-12">

		<div class="col-md-3 admin-left-nav">
			<ul class="list-group">
                <li><a href="/admin_panel/news" class="list-group-item">Add News</a></li>
                <li><a href="/admin_panel/record" class="list-group-item">Add Record</a></li>
                <li><a href="/admin_panel/video" class="list-group-item">Add Video</a></li>
                <li><a href="/admin_panel/test" class="list-group-item">Test</a></li>
                <li><a href="/admin_panel/match" class="list-group-item">Add Match</a></li>
                <li><a href="/admin_panel/advertise" class="list-group-item">Advertise</a></li>
                <li><a href="/admin_panel/comment" class="list-group-item">Comment</a></li>
                <li><a href="/admin_panel/user" class="list-group-item">User</a></li>
                <li><a href="/admin_panel/venue" class="list-group-item">Venue</a></li>
                <li><a href="#" class="list-group-item">NULL</a></li>
                <li><a href="#" class="list-group-item">NULL</a></li>
                <li><a href="#" class="list-group-item">NULL</a></li>
                <li><a href="#" class="list-group-item">NULL</a></li>
                <li><a href="#" class="list-group-item">NULL</a></li>
                <li><a href="#" class="list-group-item">NULL</a></li>

            </ul>
		</div>

		<div class="col-md-9 admin-right-content">

		    <div class="form-area col-md-8 col-centered">
		        <form role="form">
		        <br style="clear:both">
                   <h3 style="margin-bottom: 25px; text-align: center;">Add News</h3>
	   				<div class="form-group">
						<input type="text" class="form-control" id="news_title" placeholder="Title" required>
					</div>
					<div class="form-group">
						<textarea class="form-control" type="textarea" id="message" placeholder="Message" rows="7"></textarea>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="news_imageurl" placeholder="Image URL" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="news_date" placeholder="Date (example: 24/10/2015)" required>
					</div>

		        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
		        </form>
		    </div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>