{% extends "admin_layout.html" %}
{% block body %}
  	<div class="form-area col-md-8 col-centered">
		        <form role="form">
		        <br style="clear:both">
	                   <h3 style="margin-bottom: 25px; text-align: center;">Add Record</h3>
                   	<div class="form-group">
						<textarea class="form-control" type="textarea" id="record_desc" placeholder="Record Description" rows="7"></textarea>
					</div>
	   				<div class="form-group">
						<input type="text" class="form-control" id="player_id" placeholder="Player ID" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="video_id" placeholder="Video ID" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="add_news_date" placeholder="Date (example: 24/10/2015)" required>
					</div>

		        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
		        </form>
		    </div>
{% endblock %}