{% extends "admin_layout.html" %}
{% block body %}
  	<div class="form-area col-md-8 col-centered">
		        <form role="form">
		        <br style="clear:both">
	                   <h3 style="margin-bottom: 25px; text-align: center;">Add Video</h3>
                   	<div class="form-group">
						<input type="text" class="form-control" id="add_video_title" placeholder="Title" required>
					</div>
	   				<div class="form-group">
						<input type="text" class="form-control" id="add_ext_url" placeholder="External URL" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="add_source_type" placeholder="Source Type Exp: Youtube" required>
					</div>
		        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
		        </form>
		    </div>
{% endblock %}