{% extends "admin_layout.html" %}
{% block body %}

	<div class="form-area col-md-8 col-centered">
		<form action="{{ url_for('addVideo') }}" method="post">
			<table class="table table-striped table-hover">
				<thead>
				<tr>
					<th>*</th>
					<th>Title</th>
					<th>External Url</th>
					<th>Source Type</th>
				</tr>
			</thead>
			<tbody>
				{% for video in videoList: %}
					<tr>
						<td><input type="text" value="{{video.getID()}}" name="id" style="display:none"/></td>
						<td>{{video.getTitle()}}</td>
						<td>{{video.getExtUrl()}}</td>
						<td>{{video.getSourceType()}}</td>
						<td><input type='submit' name="action" value="delete_video_action"></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
	</div>

	<div class="form-area col-md-8 col-centered">
        <form action="{{ url_for('addVideo') }}" method="post">
        <br style="clear:both">
              <h3 style="margin-bottom: 25px; text-align: center;">Add Video</h3>
                   	<div class="form-group">
						<input type="text" class="form-control" id="add_video_title" placeholder="Title" required>
					</div>
	   				<div class="form-group">
						<input type="text" class="form-control" id="add_ext_url" placeholder="External URL" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="add_source_type" placeholder="Source Type Exp: Youtube" required>
					</div>

        <input type="submit" name="action" value="add_video_action"
		class="btn btn-primary pull-right" />
        </form>
    </div>

{% endblock %}